In [1]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.special import binom
import pandas as pd
import math
import pickle

## Laborator: exerciţii şi probleme

__Q1__. $\bar{X}$ şi $\bar{Y}$ sunt calculate ca medii ale $n$ variabile aleatoare iid provenind din distribuţiile cu medii $\mu_x$ şi respectiv $\mu_y$, însă având aceeaşi dispersie $\sigma^2$. Care este dispersia (variance) pentru variabila aleatoare $\bar{X} - \bar{Y}$ ?

R.

In [25]:
print('Var(X - Y) = 2 * 𝜎 ** 2')

Var(X - Y) = 2 * 𝜎 ** 2

 __Q2__. O variabilă aleatoare ia valoarea -4 cu probabilitatea .2 şi respectiv valoarea 1 cu probabilitatea 0.8. Care sunt media şi dispersia acestei variabile aleatoare?
 
 R.

In [26]:
import numpy as np
values = np.array([-4, 1])
probabilities = np.array([.2, 0.8])

mean = np.sum(values * probabilities)
dispersion = np.sum((values - mean) ** 2 * probabilities)

print('Media: ', mean, '\nDispersia:', dispersion)

values2 = np.array([-8, 1, 5])
probabilities2 = np.array([.2, 0.6, 0.2])

mean2 = np.sum(values2 * probabilities2)
dispersion2 = np.sum((values2 - mean2) ** 2 * probabilities2)

print('Media: ', mean2, '\nDispersia:', dispersion2)

Media:  0.0
Dispersia: 4.0
Media:  0.0
Dispersia: 18.4

__Q3__. Considerăm următoarea PMF pentru o variabilă aleatoare:
p = \[.1, .2, .3, .4\]
x = range(2 : 6)

Care este dispersia variabilei aleatoare?

R.

In [27]:
probabilities = np.array([.1,.2,.3,.4])
x_values = np.arange(2,6)

mean = np.sum(probabilities * x_values)
dispersion = np.sum((x_values - mean) ** 2 * probabilities)

print('Dispersia:', dispersion)

Dispersia: 1.0

__Q4__. Presupunem că numărul de accesări web pentru un anume site are o distribuţie aproximativ normală de medie 100 de accesări pe zi şi deviaţie standard 10 accesări pe zi. Care este probabilitatea ca într-o zi să avem mai puţin de 93 accesări, exprimată ca procent?

In [28]:
# R. 
print(("%.2f%%") % (stats.norm.cdf(x = 93, loc = 100, scale = 10) * 100))

24.20%

__Q5__. Aveţi un prieten care pretinde că poate discerne un vin bun de unul ieftin doar după gust. Deoarece nu îl credeţi, decideţi să-l supuneţi unui test. Presupunând că aveţi dreptate, într-un test dublu orb unde randomizaţi 6 perechi de varietăţi (Merlot, Sauvignon, ...) de vin ieftin şi respectiv vin scump. Care este şansa ca el să ghicească, la întâmplare, 5 sau 6 corect?

In [29]:
# R. 
print(1 - stats.binom.cdf(k = 4, n = 6, p = 0.5))

0.109375

__Q6__. Numărul de accesări web este distribuit Poisson cu o medie de 16.5 accesări zilnice. Care este probabilitatea de a obţine 20 sau mai puţine în 2 zile?

In [30]:
# R. 
stats.poisson.cdf(20,mu=16.5*2)

0.010453906317688662

__Q7__. Considerăm dataset-ul father.son. Folosind CLT şi presupunând că taţii sunt un sample random din populaţie, care este intervalul de confidenţă 95% pentru media înălţimii lor?

In [33]:
# R. 
father_son = pd.read_csv('father_son.csv')
x = father_son['fheight'].values
print(np.mean(x)+np.array([-1,1])*stats.norm.ppf(0.975)*np.std(x)/np.sqrt(len(x)))
print(stats.norm.interval(.95, loc = np.mean(x), 
      scale = np.std(x) / np.sqrt(x.shape[0])))

[67.52331768 67.85087605]
(67.52331767741197, 67.85087605171606)

__Q8__. Considerăm o distribuţie uniformă. Extragem 100 de valori din această distribuţie uniformă cu medie 0.5 şi dispersie 1/12 şi calculăm media lor $\bar{X}$. Care este probabilitatea de a obţine o medie mai mare sau egală cu 0.51?

In [34]:
# R. 
print(stats.norm.sf(0.51, loc=0.5, scale=np.sqrt(1/12/100)))

0.36451724476940184

__Q9__. Rata de accesări a unui site web este de 10 pe minut, monitorizată timp de o oră. Care este intervalul de confidenţă Poisson a ratei de evenimente pe minut?

In [35]:
# R.
low, high = stats.poisson.interval(.95, mu=10*60)
print((low/60, high/60))

(9.2, 10.8)

__Q10__. Considerăm datasetul mtcars. Construiţi intervalul T de confidenţă 95% pentru MPG (miles per gallon) comparând maşinile cu 4 respectiv 6 cilindri (diferenţa: setul 4 - setul 6), presupunând aceeaşi dispersie în cele două grupuri.

Observând intervalul de confidenţăm, ce concluzionaţi cu privire la consum?

In [37]:
mtcars = pd.read_csv('mtcars.csv')
mtcars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [38]:
mtcars_4 = mtcars[mtcars['cyl'] == 4]
mtcars_6 = mtcars[mtcars['cyl'] == 6]

mtcars_6

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6

In [39]:
mpg_4 = mtcars_4['mpg'].values
mpg_6 = mtcars_6['mpg'].values

#conf_int = sample_mean +/- conf_level * std_dev / sqrt(sample_len)

iconf_4 = np.mean(mpg_4) + np.array([-1, 1]) * stats.norm.ppf(0.975) * np.std(mpg_4) / np.sqrt(len(mpg_4))
iconf_6 = np.mean(mpg_6) + np.array([-1, 1]) * stats.norm.ppf(0.975) * np.std(mpg_6) / np.sqrt(len(mpg_6))

print('Interval confidenta 4 cilindri: ', np.round(iconf_4, 3))
print('Interval confidenta 6 cilindri: ', np.round(iconf_6, 3))
print('Diferenta intre 4 cilindri si 6 cilindri: ', np.round(iconf_4 - iconf_6, 3))
print('Concluzie: masinile cu 4 cilindri consuma mai putin decat cele cu 6 cilindri')

Interval confidenta 4 cilindri:  [24.123 29.205]
Interval confidenta 6 cilindri:  [18.746 20.74 ]
Diferenta intre 4 cilindri si 6 cilindri:  [5.377 8.465]
Concluzie: masinile cu 4 cilindri consuma mai putin decat cele cu 6 cilindri

__Q11__. Considerăm din nou datasetul mtcars. Folosiţi un two group T test pentru a testa ipoteza că cele două grupuri de maşini cu 4 respectiv 6 cilindri au acelaşi consum MPG. Folosiţi un test two sided cu dispersii diferite. Daţi P-value pentru acest two sided test.

In [42]:
#Ipoteza nula H_0: mpg_4 == mpg_6
#Ipoteza alternativa H_a: mpg_4 != mpg_6

sample_mean_4 = np.mean(mpg_4)
std_dev_4 = np.std(mpg_4)
sample_len_4 = len(mpg_4)

sample_mean_6 = np.mean(mpg_6)
std_dev_6 = np.std(mpg_6)
sample_len_6 = len(mpg_6)

scale = std_dev_4 ** 2 / sample_len_4 + std_dev_6 ** 2 / sample_len_6

#Statistica t = (sample_mean(4) - sample_mean(6)) / sqrt(std_dev(4)^2 / sample_len(4) + std_dev(6)^2 / sample_len(6))
statistic = stats.ttest_ind_from_stats(sample_mean_4, std_dev_4, sample_len_4,
                                       sample_mean_6, std_dev_6, sample_len_6,
                                       equal_var=False).statistic

percentile = stats.t.ppf(0.95, df=df)

t_conf = stats.t.interval(0.95, loc = sample_mean_4 - sample_mean_6, scale = scale, df = df)

p_value = stats.t.cdf(statistic, df=df)

print('df: ', df)
print('statistic: ', statistic)
print('95% percentile: ', percentile)
print('reject H_0' if statistic > percentile else 'fail to reject H_0')
print('T confidence interval: ', t_conf)
print('p_value: ', p_value)
print('two-sided: ', 2 * p_value)

df:  15.035180011917006
statistic:  4.9693566771643605
95% percentile:  1.7527810366681962
reject H_0
T confidence interval:  (2.7874860626167948, 11.054072378941646)
p_value:  0.9999165411782946
two-sided:  1.9998330823565893

__Q12__. Un site web a fost monitorizat pentru un an şi a primit 520 vizite pe zi. În primele 30 de zile ale anului următor, site-ul a primit 15800 vizite. Presupunând că vizitele au o distribuţie Poisson, daţi P-value pentru testul one sided pentru ipoteza că vizitele au sporit faţă de anul trecut. Este rejectată $H_0$? Verificaţi concluzia, calculînd şi intervalul de confidenţă.

In [41]:
#Ipoteza nula H_0: prev_year <= curr_year
#Ipoteza alternativa H_a: prev_year >= curr_year

prev_year_mean = 520
curr_year_mean = 15800 / 30

print('statistic: ', (prev_year_mean - curr_year_mean) * np.sqrt(16) / 10)
print('95% percentile:', stats.t.ppf(0.95, df=15))
print('reject H_0' 
      if (prev_year_mean - curr_year_mean) * np.sqrt(16) / 10 > stats.t.ppf(0.95, df=15) 
      else 'fail to reject H_0'
)
print('verificare: media poate fi in intevalul\n\t',
    stats.t.interval(
        0.95, 
        loc = prev_year_mean, 
        scale = curr_year_mean / np.sqrt(16), 
        df=15
    )
)
print('P-value: ', 1 - stats.t.cdf(statistic, df = 15))

statistic:  -2.6666666666666514
95% percentile: 1.7530503556925547
fail to reject H_0
verificare: media poate fi in intevalul
	 (239.3591431680225, 800.6408568319775)
P-value:  0.2164677672705525

__Q14.__ Aveţi o monedă şi suspectaţi că este biased, că dă mai multe Heads decât Tails. Obţineţi 55 Heads din 100 de aruncări. Daţi valoarea exactă P-value pentru ipoteza ca moneda să fie non-biased (fair). Câte aruncări din 100 trebuie să iasă Heads ca să începeţi să aveţi suspiciuni întemeiate (95% confidenţă)?

In [40]:
#Ipoteza nula H_0: coin = non-biased (50:50)
#Ipoteza alternativa H_a: coin = biased (55:45)

p_value = stats.binom.pmf(50, n= 100, p= 0.5)
print('P-value: ', p_value)

P-value:  0.07958923738717888